<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
       
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <link  href="{{ asset('/styles/style.css')}}" rel="stylesheet">
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #CF3241 !important;">
  <div class="container-fluid ms-5" >
    <a class="navbar-brand text-white " href="#">Global Events</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/create">create</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" href="#">Contact us</a>
        </li> 
     </ul>  
    </div>
  </div>
</nav>





</div>


        <div class="container">
            <div class="row">
              <div class="col col-md-12">
              
                <div class="card mt-5">
                    <div class="card-body">
                    {% block body %} {% endblock %} 
                    </div>
                </div>
              </div>
              </div>
        </div>
    
      


           <footer class="text-center text-white " style="background-color: #CF3241 ;width:100%;margin-top:15vh;">
       <div class="text-center p-3" style="background-color:#CF3241 ;">
            © 2021 Copyright:
        <p class="text-white" >Codefactory (classwork-CodeReview)</p>
        </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </body>
</html>
