body {
    background-color: #e2e2e2 !important;
}

.card-box {
    width: 100%;
    height: 370px;
    background: #FFF;
}

.card-info {
    padding: 10px;
}

.carousel-item img {
    width: 100%;
    height: 550px !important;
}